body {
    background: url("../images/golf-course.jpg") no-repeat center center;
    background-size: cover;
    background-size: 125%;
    font-family: 'Trykker', sans-serif;
}

h1 {
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
}

h2,
h3,
h4,
h5,
h6,
label {
    font-family: 'Fira Sans', sans-serif;
}

#game-outer-container {
    width: 90%;
    height: 80vh;
    max-width: 2000px;
    max-height: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;

}

.game-inner-container {
    border: 5px solid black;
    border-radius: 20px;
    width: 75%;
    height: 75%;
    max-width: 1000px;
    max-height: 500px;
    display: block;
    margin: auto;
    background-color: rgb(243, 244, 238);
    opacity: 0.8;
}

#question-container{
    width:80%;
    margin: 30px auto;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}

#hangman-container{
    width:80%;
    margin: 30px auto;
    height: 100px;
    text-align: center;
    font-weight: bold;
}

#letter-container {
    width:80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5em;
}

#letter-container button {
    font-weight: bold;
    height: 1.4em;
    width:2em;
    height:2em;
    border-radius: 5px;
}